/* used for home and about sections */

/* html,
body {
  height: 100% !important;
} */

.full-container-1 {
  padding: 60px 60px 60px calc(7vw + 120px);
  word-wrap: break-word;
  padding-top: 1px;
  padding-bottom: 1px;
  overflow: hidden;
  height: max-content;
}

@media only screen and (max-width: 600px) {
  .full-container-1 {
    padding: 160px 60px 160px 60px;
  }
}

/* .full-container-projects {
  height: 100%;
}

@media only screen and (max-width: 1550px) {
  .full-container-projects {
    margin: 130px 60px 120px 30px;
    padding-left: 15vh;
    padding-right: 15vh;
    padding-top: 2vh;
    padding-bottom: 4vh;
  }
}

@media only screen and (max-width: 1280px) {
  .full-container-projects {
    margin: 130px 60px 120px 30px;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 6vh;
    padding-bottom: 1vh;
  }
} */

/* .fp-slidesNav.fp-bottom {
  visibility: hidden;
}

.fp-slidesNav ul li {
  visibility: visible !important;
} */
