.text-container-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */

  font-family: roboto;
  margin-left: -8vh;
  height: max-content;

  /* overflow: hidden; */
  /* padding-bottom: 5vw; */
  /* align-items: center; */
}

@media only screen and (max-width: 1200px) {
  .text-container-about {
    justify-content: center;
    margin: 0;
  }
}

@media only screen and (max-width: 750px) {
  .tacky-container-1,
  .tacky-container-2,
  .subtext-skills,
  .subtext-info {
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: visible !important;
  }
}

.tacky-container-1 {
  background-color: rgba(255, 180, 50, 0.05);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  padding-left: 12vh;
  padding-right: 12vh;
  padding-top: 8vh;
  padding-bottom: 6vh;
  overflow: hidden;
  margin-top: 5vw;
}

.tacky-container-2 {
  background-color: rgba(255, 180, 50, 0.05);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  padding-left: 6vh;
  padding-right: 6vh;
  padding-top: 6vh;
  padding-bottom: 6vh;
  overflow: hidden;
  margin-top: 10vw;
  margin-left: 3vw;
}

.tacky-container-3 {
  background-color: rgba(255, 180, 50, 0.05);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  padding-left: 6vh;
  padding-right: 6vh;
  padding-top: 6vh;
  padding-bottom: 3vh;
  overflow: hidden;
  margin-top: 36vw;
  margin-left: 11vw;
}

@media only screen and (max-width: 1900px) {
  .tacky-container-3,
  .tacky-container-2,
  .tacky-container-1 {
    /* margin: 5vh; */
    margin: 0;
  }
}

@media only screen and (max-width: 1900px) {
  .tacky-container-3 {
    margin-top: 56vh;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .tacky-container-3,
  .tacky-container-2,
  .tacky-container-1 {
    /* margin: 5vh; */
    border-radius: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .tacky-container-3 {
    margin-top: 5vw;
    margin-left: auto;
  }
}

.subtext-skills {
  max-width: 400px;
  /* margin-left: 5vh; */

  /* -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); */
}

.subtext-info {
  /* margin-right: 15vh; */
  max-width: 400px;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: fit-content;
  align-self: flex-end;
}

.mini-header-about {
  font-size: calc(16px + 1vh);
  font-family: Acme;
  font-weight: bolder;
  color: rgb(255, 218, 138);
  text-align: center;
  margin: 0;
  margin-top: 1vh;
}

.about3 {
  font-size: calc(12px + 1vh);
  color: white;
  text-align: center;
  margin: 0;
}

.skill-image {
  height: calc(16px + 1vh);
  width: calc(48px + 2vh);
  margin-top: 1vh;
}

.source {
  z-index: 9999;
}

.sharp {
  font-weight: bolder;
  font-size: x-large;
}

.get-in-touch {
  transform: scale(1.5);
  z-index: 9999;
  margin-top: 2vh;
  color: white !important;
}
