.card-link {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.MuiCard-root > .MuiCardActionArea-root > .card-link > #game1 {
  background: url("../../images/pic1.png") no-repeat;
  padding-top: 56.25%;
  height: auto;
  width: 100%;
  object-fit: cover;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.MuiCard-root:hover > .MuiCardActionArea-root > .card-link > #game1 {
  background: url("../../images/tenor.gif") no-repeat;
  padding-top: 56.25%;
  height: auto;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* 
  background-position: center;
background-size: contain; */
