.extra {
  z-index: 999;
  display: inline-flex;
  float: right;
  margin-top: -10px;
  margin-right: 10px;
}

.extra-text {
  font-size: calc(10px + 2vh);
  color: white;
  text-align: center;
  font-family: pacifico;
  text-transform: none !important;
  margin: 0;
}

.fp-slidesNav.fp-bottom {
  visibility: hidden;
}

.fp-slidesNav ul li {
  visibility: visible !important;
}
