.test {
  font-size: calc(20px + 3vw);
  color: white;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: row1-start;
  grid-row-end: 1;
}

.test2 {
  font-size: calc(10px + 1vw);
  color: white;
  text-align: left;
}

.text-container {
}
