/* .App {
  text-align: center;
  display: flex;
  color: "rgba(0, 0, 0, 0)";
} */

::-webkit-scrollbar {
  display: none;
}

/* parallax testing */

.bg1 {
  background-image: url("./images/naturetheme1.jpg");
  /* background-size: 150%; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center center; */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;

  /* will-change: transform; */
  /* transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out; */
  /* z-index: 9999; */
  /* pointer-events: none; */
}

@media only screen and (max-width: 1280px) {
  .bg1 {
    height: 110%;
    background-position: center center;
  }
}

.bg2 {
  background-image: url("./images/nthemeScaled11.jpg");
}

.bg3 {
  background-image: url("./images/nthemeScaled6.jpg");
}

.bg4 {
  background-image: url("./images/nthemeScaled4.png");
}

.container1 {
  text-align: center;
  /* overflow: visible !important; */
  /* display: flex; */
  /* background-image: url("./images/naturetheme1.jpg"); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  /* background-attachment: fixed; */
  /* background-color: black; */
  /* z-index: -1; */
}

.container2 {
  text-align: center;
  /* display: flex; */
  /* background-image: url("./images/naturetheme11.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-color: black; */
  /* background-attachment: fixed; */
}

.container3 {
  text-align: center;
  /* display: flex; */
  /* background-image: url("./images/naturetheme6.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-color: black; */
  /* background-attachment: fixed; */
}

.container4 {
  text-align: center;
  /* display: flex; */
  /* background-image: url("./images/naturetheme4.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  /* background-color: black; */
  /* z-index: -1; */
}

/* .sec3sli2 {
  text-align: center;
  display: flex;
  background-image: url("./images/naturetheme5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
  background-attachment: fixed;
} */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

.fp-controlArrow {
  position: flex;
  z-index: 4;
  top: 98.5%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  display: none;
}
.fp-controlArrow.fp-prev {
  /* display: none; */
  z-index: 999;
  left: 43%;
  border-width: 2vh 2vh 2vh 0;
  border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
  /* display: none; */
  z-index: 999;
  right: 43%;
  border-width: 2vh 0 2vh 2vh;
  border-color: transparent transparent transparent #fff;
}

@media only screen and (max-width: 600px) {
  .fp-controlArrow.fp-next {
    right: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .fp-controlArrow.fp-prev {
    left: 30%;
  }
}

/* #particle-effects {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
} */

.particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 998 !important;
  top: 0;
  left: 0;

  /* pointer-events: none; */
}

::selection {
  background: rgba(255, 0, 0, 0.2); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(255, 0, 0, 0.2); /* Gecko Browsers */
}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
