/* .App {
  text-align: center;
  display: flex;
  color: "rgba(0, 0, 0, 0)";
} */

/* ::-webkit-scrollbar {
  display: none;
} */

/* parallax testing */

.bg1 {
  background-image: url("./images/naturetheme1.jpg");
}

.bg2 {
  background-image: url("./images/nthemeScaled11.jpg");
}

.bg3 {
  background-image: url("./images/nthemeScaled6.jpg");
}

.bg4 {
  background-image: url("./images/nthemeScaled4.png");
}

.container1 {
  text-align: center;
  /* display: flex; */
  /* background-image: url("./images/naturetheme1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  /* background-color: black; */
  /* z-index: -1; */
}

.container2 {
  text-align: center;
  /* display: flex; */
  /* background-image: url("./images/naturetheme11.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-color: black; */
  /* background-attachment: fixed; */
}

.container3 {
  text-align: center;
  /* display: flex; */
  /* background-image: url("./images/naturetheme6.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-color: black; */
  /* background-attachment: fixed; */
}

.container4 {
  text-align: center;
  /* display: flex; */
  /* background-image: url("./images/naturetheme4.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  /* background-color: black; */
  /* z-index: -1; */
}

/* .sec3sli2 {
  text-align: center;
  display: flex;
  background-image: url("./images/naturetheme5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
  background-attachment: fixed;
} */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

.fp-controlArrow {
  position: flex;
  z-index: 4;
  top: 98.5%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  display: none;
}
.fp-controlArrow.fp-prev {
  /* display: none; */
  z-index: 999;
  left: 43%;
  border-width: 2vh 2vh 2vh 0;
  border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
  /* display: none; */
  z-index: 999;
  right: 43%;
  border-width: 2vh 0 2vh 2vh;
  border-color: transparent transparent transparent #fff;
}

@media only screen and (max-width: 600px) {
  .fp-controlArrow.fp-next {
    right: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .fp-controlArrow.fp-prev {
    left: 30%;
  }
}

/* #particle-effects {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
} */

.particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999 !important;
  top: 0;
  left: 0;

  /* pointer-events: none; */
}

::selection {
  background: rgba(241, 180, 87, 0.2); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(241, 180, 87, 0.2); /* Gecko Browsers */
}

/* CUSTOM SCROLL EFFECT */

.fullpage-wrapper {
  width: 100% !important;
  /* transform: none !important; */
}

.fp-section {
  width: 100% !important;
  /* position: absolute; */
  left: 0;
  top: 0;

  transition: all 1s ease-in-out;
  /* transition: all 1s linear; */
  /* transition: all 1s ease-out; */

  /* CARD */
  /* transform: translateZ(-10rem) scale(0.8); */
  /* transform: translateX(50rem); */
  /* transform: translateY(10rem); */

  /* SCALE + CIRCLE  */
  /* border-radius: 50%; */
  /* transform: scale(0.1); */

  /* FADE */
  visibility: hidden;
  opacity: 0.5;

  /* PAGE */
  /* transform: rotateY(90deg);
  transform-origin: 0% 100%; */
}

.fp-section.active {
  /* FADE */
  visibility: visible;
  opacity: 1;

  /* CARD */
  /* transform: translateZ(10rem) scale(1); */
  /* transform: translateX(0rem); */
  /* transform: translateY(0rem); */

  /* SCALE + CIRCLE  */
  /* border-radius: 0%; */
  /* transform: scale(1); */

  /* transform: rotateZ(0deg);
  transform-origin: 0% 50%; */
}

/*COMPATIBILITY EXAMPEL
 .example {
  -webkit-transition: background-color 500ms ease-out 1s;
  -moz-transition: background-color 500ms ease-out 1s;
  -o-transition: background-color 500ms ease-out 1s;
  transition: background-color 500ms ease-out 1s;
} */

/* mix-blend-mode: multiply; */

/* transition: all 1.3s linear; */
/* filter: grayscale(100%); */

/* -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: url(#blur);
  filter: blur(30px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); */
/* } */

/*mix-blend-mode: normal; */

/* filter: grayscale(0%); */
/* 
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: url(#blur);
  filter: blur(0px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); */
/* } */

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
