/* CUSTOM SCROLL EFFECT */

.fullpage-wrapper {
  width: 100% !important;
  /* transform: none !important; */
}

.fp-section {
  width: 100% !important;
  /* position: absolute; */
  left: 0;
  top: 0;

  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  /* transition: all 1s linear; */
  /* transition: all 1s ease-out; */

  /* CARD */
  /* transform: translateZ(-10rem) scale(0.8); */
  /* transform: translateX(50rem); */
  /* transform: translateY(10rem); */

  /* SCALE + CIRCLE  */
  /* border-radius: 50%; */
  /* transform: scale(0.1); */

  /* FADE */
  /* visibility: hidden; */
  opacity: 0.5;

  /* PAGE */
  /* transform: rotateY(90deg);
    transform-origin: 0% 100%; */
}

.fp-section.active {
  /* FADE */
  /* visibility: visible; */
  opacity: 1;

  /* CARD */
  /* transform: translateZ(10rem) scale(1); */
  /* transform: translateX(0rem); */
  /* transform: translateY(0rem); */

  /* SCALE + CIRCLE  */
  /* border-radius: 0%; */
  /* transform: scale(1); */

  /* transform: rotateZ(0deg);
    transform-origin: 0% 50%; */
}

/*COMPATIBILITY EXAMPLE
   .example {
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
  } */

/* mix-blend-mode: multiply; */

/* transition: all 1.3s linear; */
/* filter: grayscale(100%); */

/* -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: url(#blur);
    filter: blur(30px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); */
/* } */

/*mix-blend-mode: normal; */

/* filter: grayscale(0%); */
/* 
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: url(#blur);
    filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); */
/* } */
